/* .imagecard{
    margin: 10px;
    padding:10px; 
    display:inline-flex;
    display: flex;
    height: 400px;
    width: 100vw;
    background-color: red;
} */

.imagecard{
    /* align-items: center;
    justify-content: center; */
    position: relative;
    height: 220px;
    width: 190px;
    /* background-color: blue; */
    color: royalblue;
    margin-left: 8px;
    margin-top: 50px;
    /* backdrop-filter: blur(5px); */
    border-radius: 10px;
}
.imagecard:hover{
    transform: scale(1.1,1.2);
    transition-duration: 0.5s;
    opacity: 1;
    /* background: rgba(0,0,0 ,0.6); */
    /* filter: blur(1px); */
}

.ima{
    display: block;
    height: 200px;
    width: 180px;
    margin: 0px ;
    padding-left: 0px;
    position: relative;
    /* padding: 20px; */
    /* background-color: royalblue; */
    border-radius: 10px;
    /* color: royalblue; */
    /* background: rgba(0, 0, 0, 0.6);
    background-color:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px); */
    
}

.hide{
    /* transform: scale(1.1,1.3); */
    opacity: 0;
    font-size: 8px;
    display: flex; 
    position: absolute;
    color: whitesmoke;
    width: 180px;
    border-radius: 8px;
    /* background: rgba(0,0,0 ,1); */
    /* display: flex; */
    background-blend-mode: overlay;
    /* left: 20; */
    /* right: 2px; */
    top:42%;
    /* left:1%;  */
    padding: 2px;
    flex-direction: column;
    /* margin-bottom: 50px; */
    /* align-items: center;
    justify-content: center; */
    /* backdrop-filter: blur(5px); */

}
.hide:hover{
    opacity: 1;
    background: hsla(0, 0%, 20%, 0.5);
    /* background-color:#0c111b; */
    /* color: #0c111b; */
    /* background-image:; */
    /* filter: brightness(150%); */
    /* background-color: #0c111b !important; */
}
/* .ima:hover {
    transform: scale(1.1,1.2);
    transition-duration: 0.5s;
    opacity: 1;
    filter: blur(1px);
} */


.ima:hover + .hide{
    display: flex;
    /* position: absolute; */
    opacity: 1;
    transition-duration: 1s;
    overflow: hidden;
}

/* .hide__title{
    color: whitesmoke;
    font-size: 1px;
} */


.hide__title{
    font-size: 9px;
    font-weight: 700;
}

.hide__subtitle{
    font-size: 8px;
    font-weight: 600;
}

.hide__description{
    font-size: 8px;
    font-weight: 600;
}

.hide__watchmovie>button{
    margin-left: 5px;
    width: 150px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    size: 5px;
    font-size: 7px;
    font-weight: 600;
}

.hide__watchmovie:hover{
    color: whitesmoke;
    background-color: white ;
    background: rgba(255,255,255 ,0.2);
    font-weight: 600;
}

.hide__watchmovie>img{
    height: 8px;
    width: 8px;
    margin-left: 8px;

}

.hide__addtowatchlist>img{
    height: 13px;
    width: 13px;
    margin-left: 5px;
}

.hide__addtowatchlist>button{
    margin-left: 5px;
    width: 150px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    size: 5px;
    font-size: 7px;
    font-weight: 600;
}

.hide__addtowatchlist:hover{
    color: whitesmoke;
    background-color: white ;
    background: rgba(255,255,255 ,0.2);
    font-weight: 600;
}