 /* .slidingimages{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px; 
    justify-content:start;
    margin-right: 10px;     
    margin-top: 200px;
    padding:20px;
}

 .ima{ 
     display: flex;
    padding: 10px;
    margin: 10px; 
 } */


 .outer{
     height:1000px;
     /* background-color: yellow; */
     width: 1000px;
     display: inline;
     margin-left: 100px;
 }
 .outer>h2{
     color: whitesmoke;
     margin-left: 45%;
     font-family:"Roboto","HelveticaNeue-Light",sans-serif;
     
 }


.tp{
    height: 500px;
    width: 500px;
    background-color: red;

}

 /* .inner{
     display: flex;
     height: 400px;
     width: 400px;
     background-color: turquoise;
 } */

 .p{
     color: red;
     font-size: 20px;
 }

 .slidingimages-heading{
     color: whitesmoke;
     margin-top: 15px;
     margin-left: 70px;
     font-size: 30px;
     opacity: 0.6;
 }

