/* .watchlist_imagecard{
    margin: 10px;
    padding:10px; 
    display:inline-flex;
    display: flex;
    height: 400px;
    width: 100vw;
    background-color: red;
} */
/* .watchlist_imagecard-outer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: red;
    color: royalblue;
    margin-left: 8px;
    margin-top: 50px;
    border-radius: 10px;
} */


.watchlist_imagecard{
    /* align-items: center;
    justify-content: center; */
    position: relative;
    height: 200px;
    width: 180px;
    /* background-color: blue; */
    color: royalblue;
    margin-left: 8px;
    margin-top: 50px;
    /* backdrop-filter: blur(5px); */
    border-radius: 10px;
}
.watchlist_imagecard:hover{
    transform: scale(1.1,1.2);
    transition-duration: 0.5s;
    opacity: 1;
    border-radius: 10px;
    /* background: rgba(0,0,0 ,0.watchlist_6); */
    /* filter: blur(1px); */
}

.watchlist_ima{
    display: block;
    height: 93%;
    width: 93%;
    margin: 0px ;
    padding-left: 0px;
    position: relative;
    /* padding: 20px; */
    /* background-color: royalblue; */
    border-radius: 10px;
    /* color: royalblue; */
    /* background: rgba(0, 0, 0, 0.watchlist_6);
    background-color:rgba(0, 0, 0, 0.watchlist_6);
    backdrop-filter: blur(5px); */
    
}

.watchlist_hide{
    /* transform: scale(1.watchlist_1,1.watchlist_3); */
    opacity: 0;
    font-size: 8px;
    display: flex; 
    position: absolute;
    color: whitesmoke;
    height: 90%;
    width: 93%;
    border-radius: 8px;
    /* background-color: turquoise; */
    /* background: rgba(0,0,0 ,1); */
    /* display: flex; */
    background-blend-mode: overlay;
    backdrop-filter: contrast(.7);
    /* left: 20; */
    /* right: 2px; */
    top:57%;
    /* left:1%;  */
    /* filter: blur(2px); */
    padding: 2px;
    flex-direction: column;
    /* margin-bottom: 50px; */
    /* align-items: center;
    justify-content: center; */
    /* backdrop-filter: blur(5px); */

}

.watchlist__watchmovie{
    /* height: 10px; */
    display: flex;
}

.watchlist__addtowatchlist{
    /* height: 10px; */
    display: flex;
    }
.watchlist_hide:hover{
    opacity: 1;
    background: hsla(0, 0%, 20%, 0.5);
    border-radius: 8px;

    /* background-color:#0c111b; */
    /* color: #0c111b; */
    /* background-image:; */
    /* filter: brightness(150%); */
    /* background-color: #0c111b !important; */
}
/* .watchlist_ima:hover {
    transform: scale(1.watchlist_1,1.watchlist_2);
    transition-duration: 0.watchlist_5s;
    opacity: 1;
    filter: blur(1px);
} */


.watchlist_ima:hover + .watchlist_hide{
    display: flex;
    /* position: absolute; */
    opacity: 1;
    transition-duration: 1s;
    overflow: hidden;
    border-radius: 10px;
}

/* .watchlist_hide__title{
    color: whitesmoke;
    font-size: 1px;
} */


.watchlist__title{
    font-size: 9px;
    font-weight: 700;
}

.watchlist__subtitle{
    font-size: 8px;
    font-weight: 600;
}

.watchlist__description{
    font-size: 8px;
    font-weight: 600;
}

.watchlist__watchmovie>button{
    margin-left: 5px;
    width: 150px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    size: 5px;
    font-size: 7px;
    font-weight: 600;
}

.watchlist__watchmovie:hover{
    color: whitesmoke;
    background-color: white ;
    background: rgba(255,255,255 ,0.2);
    font-weight: 600;
}

.watchlist__watchmovie>img{
    margin-top: 4px;
    height: 8px;
    width: 8px;
    margin-left: 8px;

}

.watchlist__addtowatchlist>img{
    margin-top: 4px;
    height: 13px;
    width: 13px;
    margin-left: 5px;
}

.watchlist__addtowatchlist>button{
    margin-left: 5px;
    width: 150px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    size: 5px;
    font-size: 7px;
    font-weight: 600;
}

.watchlist__addtowatchlist:hover{
    color: red;
    background-color: red ;
    background: rgba(255,255,255 ,0.2);
    font-weight: 600;
}